.rootLayout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.contentWrapper {
  flex: 1 1 auto;
  width: 100%;
  position: relative;
  overflow: hidden;
  isolation: isolate;
}

.lightRaysLayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.scrollableContent {
  position: relative;
  z-index: 1;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
